@import url("animacion.css");
/* Estilos Generales */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header */
header {
  background-color: #003f2f;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-btn {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}
.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero {
  background: #003f2f;
  color: white;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.cta-buttons button {
  margin-top: 25px !important;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
[class*="btn"]{
  border:none;
  border-radius: 20px 20px 20px 20px;
}
.register-btn{
  background-color: #73E5FF;
  padding: 15px 15px; 
  width: 100px; 
  height: 40px;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.chat-soft-btn{
  padding: 15px 15px; 
  width: 200px; 
  height: 30px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 0 auto;
  color:white;
  background-color: rgba(255, 255, 255, 0.18);
}
.contac-btn {
  cursor:pointer;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  padding-top: 50px;
}
.c-btn{
  all:unset;
}
.login-btn{
  all:unset;
}


.yellow-btn {
  background-color: yellow;
  color:#003f2f;
}

.dark-btn {
  color:yellow;
  background: none; 
  border: 01px solid yellow !important;;
}
/*textos*/
.text-1{
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 10px;
}
.text-2{
  font-size: 15px;
  line-height: 1.6;
  
}


/* Testimonios */
.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Pricing */
.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan {
  border: 1px solid #ccc;
  padding: 20px;
}

/*logos*/
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.coca {
  width: 40px;
  height: auto;
}
/* Footer */
footer {
  background: #000d1a;
  color: white;
  padding: 30px;
}
/*adorno*/
.textoyflecha {
  position: absolute;
  left: 30vw; /* Se centra horizontalmente */
  top: 68%;
  transform: translateX(-50%) rotate(10deg); /* Lo centra y mantiene la inclinación */
  width: 8vw; /* Tamaño relativo al ancho de la pantalla */
  height: auto;
  animation: flota-inclinado 2s infinite ease-in-out;
}

.video {
  position: absolute;
  left: 10vw; /* Más adaptable */
  top: 35%;
  width: 5vw;
  height: auto;
}
